.input-box{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    width: 30vw;
}



@media screen and (max-width: 600px) {
    .input-box{
        /*display: flex;*/
        /*flex-direction: column;*/
        /*border: 2px solid red;*/
        width: 80vw;
    }
}